<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<!-- <classPathEntry location="C:/Users/qwe/.m2/repository/mysql/mysql-connector-java/5.1.40/mysql-connector-java-5.1.40.jar"/> -->
	<context id="my" targetRuntime="MyBatis3">
		<commentGenerator>
			<property name="suppressDate" value="false" />
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/hm_shop_server" userId="root"
			password="root" />

		<javaModelGenerator targetPackage="com.ccoc.model"
			targetProject="E:/xdh/项目/hm_shop_server/hm_shop_server/src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="com.ccoc.mapping"
			targetProject="E:/xdh/项目/hm_shop_server/hm_shop_server/src/main/java">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator targetPackage="com.ccoc.dao"
			targetProject="E:/xdh/项目/hm_shop_server/hm_shop_server/src/main/java" type="XMLMAPPER">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<table tableName="goods" domainObjectName="Goods" enableCountByExample="false"
		enableUpdateByExample="false" enableDeleteByExample="false" 
		enableSelectByExample="false" selectByExampleQueryId="false">
			<!-- <property name="useActualColumnNames" value="true"/> -->
		</table>

	</context>
</generatorConfiguration>